.frame {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 3px 0px 3px 0px;
}

.button {
	background: url("[[test.png]]") no-repeat 0px 0px;
}

.info {
	background: url("[[folder/info-32.png]]") no-repeat 0px 0px;
}
