<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:component-scan base-package="org.archboy.clobaframe" />

	<!-- application settings -->
	<bean id="applicationSetting"
		  class="org.archboy.clobaframe.setting.application.impl.ApplicationSettingImpl">
		<property name="locations">
			<list>
				<value>classpath:clobaframe.properties</value>
			</list>
		</property>
	</bean>
			
	<bean id="propertyPlaceholderConfigurer"
		  class="org.archboy.clobaframe.setting.application.config.PropertyPlaceholderConfigurer">
		<property name="applicationSetting" ref="applicationSetting"/>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>
	
	<!-- Application Message Bundle -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:org/archboy/clobaframe/mail/i18n/messages"/>
		<property name="cacheSeconds" value="-1"/>
		<!--
			Set the number of seconds to cache loaded properties files.
			Default is "-1", indicating to cache forever (just like java.util.ResourceBundle).
			A positive number will cache loaded properties files for the given number of seconds. This is essentially the interval between refresh checks. Note that a refresh attempt will first check the last-modified timestamp of the file before actually reloading it; so if files don't change, this interval can be set rather low, as refresh attempts will not actually reload.
			A value of "0" will check the last-modified timestamp of the file on every message access. Do not use this in a production environment!
		-->
	</bean>
</beans>