/* test.css */

.test {
	background: url('test.png') no-repeat 0px 0px;
}

.info {
	background: url('image/info-32.png') no-repeat 0px 0px;
}

.success {
	background: url('[[image/success-16.png]]') no-repeat 0px 0px;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.ttf');
	src: url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}