<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:component-scan base-package="org.archboy.clobaframe" />

	<!-- testing post setting inject -->
	<bean id="testingPostApplicationSetting" 
		  class="org.archboy.clobaframe.setting.application.ApplicationSettingTest.TestingPostApplicationSetting">
	</bean>

	<!-- application settings -->
	<bean id="applicationSetting"
		  class="org.archboy.clobaframe.setting.application.impl.DefaultApplicationSetting">
		
		<!-- root settings properties, optional -->
		<property name="properties">
			<value>
				clobaframe.setting.test.root.prop=rootPropOk
			</value>
		</property>
		
		<!-- other settings, optional -->
		<property name="locations">
			<list>
				<value>classpath:application-layer2.properties</value>
			</list>
		</property>
		
		<!-- executes post application setting, optional -->
		<property name="postApplicationSettings">
			<list>
				<ref bean="testingPostApplicationSetting"/>
			</list>
		</property>
		
		<!-- application name, optional, because the root properties and the root config file can 
		specify and override this value -->
		<property name="applicationName" value="clobaframe"/>
		
		<!-- root config file name, optional, all root values can be set in the "#setProperties()" -->
		<property name="rootConfigFileName" value="classpath:root.properties"/>
	</bean>
	
	<!-- placeholder resolver using application setting instead of Properties file -->
	<!-- Remove this bean define and the relate class and the unit test code if you want to compile 
	this module without any Spring Framework dependency. -->
	<bean id="propertyPlaceholderConfigurer"
		  class="org.archboy.clobaframe.setting.application.config.PropertyPlaceholderConfigurer">
		<property name="applicationSetting" ref="applicationSetting"/>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>
	
	<!-- using spring placeholder configurer -->
	<!--
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:clobaframe.properties</value>
			</list>
		</property>
	</bean>
	-->
</beans>
